
.movie-info {
  width: auto;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.movie-info img {
  height: 80vh;
  border-radius: 2%;
  margin-left: 5vw;
}

.movie-info-detail {
  width: 1000px;
  margin: 10px 30px;
  color: #fff;
  margin-left: 8vw;
}

.movie-info-detail p {
  margin-top: 20px;
}

.story {
  margin-bottom: 60px;
}

.comments {
  margin-bottom: 20px;
}

#comments-container {
  max-height: 35vh; 
  overflow-y: auto; 
  margin-bottom: 20px;
}

.comment {
  background-color: #838383;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
}

.comment input {
  background-color: #838383;
  border: none;
  outline: navajowhite;
  font-size: 14px;
  color: #fff;
  width: 700px;
}

.comment-user-etc {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.comment-user-name,
.comment-user-etc {
  margin-bottom: 10px;
}

.comment-update-delete {
  font-size: 14px;
}

.comment-update,
.comment-delete {
  margin-right: 4px;
  cursor: pointer;
}

.comment-button {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end; 
}

.comment-submit {
  width: 120px;
  height: 39px;
  border-radius: 30px;
  background: goldenrod;
  color: #fff;
  text-align: center;
  line-height: 39px;
  cursor: pointer;
}

.update-btn {
  justify-content: end;
}

.hidden {
  display: none;
}

.update-btn-btn {
  background: goldenrod;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  font-size: 14px;  
  cursor: pointer;
}

.comment-detail {
  margin-right: 10px;
}

.modal-text {
  color: #fff;
}
